body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#encabezado {
    background: orange;
    color: white;
    padding: 0.5em;
}

#encabezado li {
    display: inline;
    list-style-type: none;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

#hero {
    background: rgb(255, 255, 255);
    color: rgb(82, 82, 82);
}

#hero.img {
    margin: 0px;
}

#saludo {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
}

#social-bar {
    background: rgb(21, 97, 47);
    text-align: center;
    padding: 0.2em;
}

#social-bar img{
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

#principal {
    background: rgb(158, 206, 235);
    color: rgb(0, 27, 44);
    padding: 1em;
}

#sobre-mi {
   font-size: 1.2em;
}

#proyectos {
    background: rgb(137, 226, 241);
    padding: 0.4em;
    text-align: center;
}

#frameworks {
    text-align: center;
}

#frameworks li {
    display: inline;
    list-style-type: none;
}

#contacto {
    background: rgb(19, 35, 124);
    color: white;
    padding: 1em;
    text-align: center;
}

#copyright {
    color: rgb(84, 152, 230);
}